.interface{
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.buttons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 1.5rem; /* Scales vertically & horizontally */
    min-width: 120px;
    color: #000000;
    background-color: #ff7b00; 
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    font-family: system-ui, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;
    text-align: center;
}

.title{
    font-family: 'Bradley Hand ITC', sans-serif;
    white-space: nowrap;
}
p{
    font-family: system-ui, sans-serif;
    font-size: 1rem ;
    font-weight: 600;
}
#controls
{
    display: inline-flex;
    margin-top: 20px;
    gap: 10px;
}

#scores{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 340px;
    font-family: 'Bradley Hand ITC','Courier New', Courier, monospace;
    font-size: 1.3rem;
    color: #ffee00;

    background-image: url("img/chalkboard.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-color: #000000; */
    

    padding: 50px 20px 20px;
    border-radius: 5px;

    gap: 100px;
}
#player-score,#ai-score{
    margin-top: 10px;
}
#results{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 330px;
    height:200px;
    padding: 0.75rem 1.5rem;
    margin-top: 0.625rem ;
    background-image: url("img/classroom.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#results img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    transform: translateY(29px);
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.result-txt{
    color: rgb(87, 46, 0);
    font-family: "Bradley Hand ITC","Brush Script MT","Comic Sans MS", "Comic Sans", "Apple Chancery";
    font-size: 1.3rem;
    font-weight: bolder;
    /* height:-100px; */
    position: absolute;
    bottom: 18%;
    /* transform: translateY(30px); */
    
}
.label{
    font-family: system-ui, sans-serif;
    font-size: 1rem ;
    font-weight: 600;
    white-space: nowrap;
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 0;
}
.score-title{
    position: absolute;
    top: 10px;

    font-family: system-ui, sans-serif;
    font-size: 1rem ;
    font-weight: 600;
}